:root {
  --primary: #0E4672;
  --white: #FFFF;
  --shadow: 0px 4px 4px -2px rgba(14, 70, 114, 0.3);
}

body {
  margin: 0;
  padding: 0;
  background: whitesmoke;
  font-size: 14px;
  overflow-x: hidden;
  font-family: 'DM Sans', sans-serif;
}


/* Override */

.btn-primary {
  background-color: var(--primary);
  font-size: 22px;
}

.white-card {
  background: #FFFFFF;
  border-bottom: 2px solid #E0E0E0;
  box-shadow: var(--shadow);
  /* padding-bottom: 4rem; */
}

.vertical-line {
  margin-top: 20px;
  border-left: 2px solid slategrey;
  height: 260px;
}

/*  */
.vertical-line:hover {
  background-color: 1px solid blue;
}

.span {
  color: #0b74c5;
  font-size: 22.7236px;
  font-weight: 700;
}

.span-text {
  font-size: 20.7236px;
  font-weight: 500;
  text-align: center;

}

.p {
  /* font-family: 'DM Sans'; */
  font-style: normal;
  font-weight: 700;
  font-size: 25.7236px;
  line-height: 33px;

  color: #000000;

}

.message-img {
  margin-left: 145px;
}

.col.text-white.d-flex.mx-5.styleShadow {
  box-shadow: -1px 37px 0px 10px #0F3756;
}

.shadow2 {
  box-shadow: 0px 39px 1px -17px #0f3756
}

.text-position {
  bottom: 20px;
  left: 50px;
  /* font-family: 'DM Sans'; */
  font-style: normal;
  font-weight: 500;
  font-size: 25.4889px;
  line-height: 31px;

  color: #000000;
}

.footer-text {
  /* font-family: 'DM Sans'; */
  font-size: 22px;
  font-weight: 700
}

.footer-text-header {
  /* font-family: 'DM Sans'; */
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;

  color: #FFFFFF;
}

.footer-blog-text {
  /* font-family: 'DM Sans'; */
  font-size: 18.3px;
  line-height: 23px;
  color: #FFFFFF;
}

h2 {
  /* font-family: 'DM Sans'; */
  font-style: normal;
  font-weight: 700;
  font-size: 35.2333px;
  line-height: 46px;
  margin: revert;


}

/* Over Ride Stepper */
.MuiStepLabel-root .MuiSvgIcon-root {
  font-size: 3rem;
  font-family: 'DM Sans';
  color: var(--primary);
}

.MuiStepLabel-root .MuiSvgIcon-root .MuiStepIcon-text {
  color: var(--primary);
}


.puls-minus-btn-darkblue {
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
  background-color: #1F3648;
  text-align: center;
  color: #fff;
  padding: 3px;
  font-size: 1.5rem;
  /* font-family: 'DM Sans' */
}

.puls-minus-btn-skyblue {
  border-top-right-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  background-color: #C2DDF2;
  color: #1F3648;
  text-align: center;
  padding: 3px;
  font-size: 1.5rem
}

.Gesamt-text {
  color: #0E4672;
  /* font-family: 'DM Sans'; */
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.card-text {
  /* font-family: 'DM Sans'; */
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;

  color: #000000;

}

/*  */
.vehicle-option-sider-text {
  /* font-family: 'DM Sans'; */
  font-style: normal;
  font-weight: 700;
  font-size: 25.0571px;
  line-height: 26px;
  margin-top: 15px;
  color: #FFFFFF;

}

.thanku {
  /* font-family: 'DM Sans'; */
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 65px;
  color: #1F3648;
}

.custom-select:focus {
  outline: none;
}

.link {
  text-decoration: none;
  color: gray;
  padding-right: 2rem;
  /* font-family: 'DM Sans'; */
  /* font-weight: 700; */


}

/* summary component textfield */
.custom-textfield input {
  color: #fff;
}

.custom-textfield .Mui-focused {
  color: #455E72 !important;
}

.custom-textfield .MuiInputBase-root:after {
  border-bottom: #000
}

.custom-textfield label {
  color: #455E72;
}
/* ------------------Admin booking page------------------ */
.admin-booking {
  /* font-family: DM Sans; */
  font-size: 35px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
  color: #1F3648;
}
.label-text{
  font-family: DM Sans;
font-size: 20px;
font-weight: 700;
line-height: 23px;
text-align: left;
color: #1F3648;
padding: 10px;
margin-top: 20px;
}

.heading-section {
  /* font-family:DM Sans; */
  /* width: 1741px; */
  height: 55px;
  background: #1F3648;
  color: #fff;
  padding: 16px;
  font-size:large;
}
.label-admin-text{
  /* font-family: 'DM Sans'; */
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 18px;
  color: #455E72;
  margin-bottom: 10px;
}
.text-admin{
  /* font-family: DM Sans; */
font-size: 20px;
font-weight: 700;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
color:#1F3648;
}  
.table-th{
  background-color:#F1F9FF;
}

  

