
:root {
  --primary: #0E4672;
  --white: #FFFF;
  --shadow: 0px 4px 4px -2px rgba(14, 70, 114, 0.3);
}

body {
  margin: 0;
  padding: 0;
  background: whitesmoke;
  font-size: 14px;
  overflow-x: hidden;
  font-family: 'DM Sans', sans-serif;
}
/* ---btn---- */
.btn:hover,.btn:active{
  color: #000;
  border: 2px solid #E6E6E6;

}
/* Override */

.btn-primary {
  background-color: var(--primary);
  font-size: 14px;
  color: white;
  border: unset;
  padding: 8px;
  border-radius: 6px;
  border: 2px solid #E6E6E6;
}

.btn-primary:hover,.btn-primary:active {
  background-color: var(--primary);
  color: white;
}
.payment-mehtod-button{
  border: 2px solid #E6E6E6;
}
.white-card {
  background: #FFFFFF;
  border-bottom: 2px solid #E0E0E0;
  box-shadow: var(--shadow);
  /* padding-bottom: 4rem; */
}

.vertical-line {
  margin-top: 20px;
  border-left: 2px solid slategrey;
  height: 240px;
}
@media screen and (max-width: 768px){
  .vertical-line{
    /* display: none; */
    border-left: 2px solid slategrey;
    background:slategrey;
    height: 2px;
    width: 90%;
    margin-left: 4%;

  }
}

.span {
  color: #0b74c5;
  font-size: 18px;
  font-weight: 700;
}

.span-text {
  font-size: 15.7236px;
  font-weight: 500;
  text-align: center;
}

/*------ header-link------- */
.link {
  text-decoration: none;
  color:#000000;
  font-style: normal;
  font-weight: 500;
  font-size: 15.6592px;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
}
 .link:hover{
  color:#000000;
 }

.p {
  /* font-family: 'DM Sans'; */
  font-style: normal;
  font-weight: 700;
  font-size: 18.7236px;
  line-height: 33px;

  color: #000000;

}

.message-img {
  margin-left: 145px;
}

.col.text-white.d-flex.mx-5.styleShadow {
  box-shadow: -1px 37px 0px 10px #0F3756;
}

.shadow2 {
  box-shadow: 0px 39px 1px -17px #0f3756
}
.shadow22 {
  box-shadow: 0px 44px 1px 10px #0f3756
}

.text-position {
  bottom: 10px;
  left: 50px;
  /* font-family: 'DM Sans'; */
  font-style: normal;
  font-weight: 500;
  font-size: 24.4889px;
  line-height: 31px;
  color: #000000;
}


.footer-text {
  /* font-family: 'DM Sans'; */
  font-size: 19px;
  font-weight: 700
}

.footer-text-header {
  /* font-family: 'DM Sans'; */
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20.4037px;
  line-height: 36px;
  white-space: nowrap;

  color: #FFFFFF;
}

.footer-blog-text {
  /* font-family: 'DM Sans'; */
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14.8677px;
  line-height: 26px;

  color: #FFFFFF;
}
.footer-link{
  text-decoration: none;
  color:#97ADBE;
  font-style: normal;
  font-weight: 500;
  font-size: 15.6592px;
  line-height: 20px;
  text-align: center;
  /* white-space: nowrap; */
}

h2 {
  /* font-family: 'DM Sans'; */
  font-style: normal;
  font-weight: 700;
  font-size: 26.2333px;
  line-height: 46px;
  margin: revert;


}

b {
  font-size: 17px
}

/* Over Ride Stepper */
.MuiStepLabel-root .MuiSvgIcon-root {
  font-size: 3rem;
  font-family: 'DM Sans';
  color: var(--primary);
}

.MuiStepLabel-root .MuiSvgIcon-root .MuiStepIcon-text {
  color: var(--primary);
}


.puls-minus-btn-darkblue {
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
  background-color: #1F3648;
  text-align: center;
  color: #fff;
  padding: 3px;
  font-size: 1.5rem;
  /* font-family: 'DM Sans' */
}

.puls-minus-btn-skyblue {
  border-top-right-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  background-color: #C2DDF2;
  color: #1F3648;
  text-align: center;
  padding: 3px;
  font-size: 1.5rem
}

.Gesamt-text {
  color: #0E4672;
  /* font-family: 'DM Sans'; */
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.card-text {
  /* font-family: 'DM Sans'; */
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 31px;

  color: #000000;

}

/*  */
.vehicle-option-sider-text {
  /* font-family: 'DM Sans'; */
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-top: 15px;
  color: #FFFFFF;

}

.vehicle-card-text {
  font-family: 'DM Sans';
  font-Weight: 500;
  font-size: 18px;
  Line-height: 23.44px;
  color: #0E4672;
}

.thanku {
  /* font-family: 'DM Sans'; */
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 65px;
  color: #1F3648;
}

.custom-select:focus {
  outline: none;
}


/* summary component textfield */
.custom-textfield input {
  color: #fff;
}

.custom-textfield .Mui-focused {
  color: #11619e !important;
  font-size: large;
  font-weight: bold;
}

.custom-textfield .MuiInputBase-root:after {
  border-bottom: #000;
}

.custom-textfield label {
  /* color: #455E72; */
  color: #fff;
}

/* ------------------Admin booking page------------------ */
.admin-booking {
  /* font-family: DM Sans; */
  font-size: 35px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
  color: #1F3648;
}

.label-text {
  /* font-family: DM Sans; */
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  text-align: left;
  color: #1F3648;
  padding: 10px;
  margin-top: 20px;
}

.heading-section {
  /* font-family:DM Sans; */
  /* width: 1741px; */
  height: 55px;
  background: #1F3648;
  color: #fff;
  padding: 16px;
  font-size: large;
}

.label-admin-text {
  /* font-family: 'DM Sans'; */
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: #455E72;
  margin-bottom: 10px;
}

.text-admin {
  /* font-family: DM Sans; */
  font-size: 20px;
  font-weight: 590;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #1F3648;
}

.table-th {
  background-color: #F1F9FF;
}

/* driver-register */
.driver-heading {
  /* font-family: 'DM Sans'; */
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 52px;
  color: #0E4672;
}

.text-driver {
  /* font-family: DM Sans; */
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000
}

.drive-step {
  /* font-family: DM Sans; */
  font-size: 30px;
  font-weight: 500;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: #0E4672
}

.drive-step-content {
  /* font-family: DM Sans; */
  font-size: 30px;
  font-weight: 500;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: #0E4672
}

/* @media screen and (max-width: 320px){
  #image-section{
      width: 100%;
      height: auto;
      
    };
  } */